*.iml
*/target
*.diff
*~
*.orig
.project
.idea/
target/

.classpath
.settings
.metadata/
*/logs
*.tmp
.DS_Store

.CLOSURE.CACHE
canary/src/main/resources/config
canary/application.log*
worker/src/main/resources/canary-*.jar
worker-base/src/main/resources/canary-*.jar
worker-ops/src/main/resources/canary-*.jar

admin/config/dev-tunnel-phx-ad-2.conf
admin/config/dev-tunnel-sea-ad-1.conf
admin/config/dev-tunnel-r1-ad1.conf
admin/config/dev-tunnel-r1-ad2.conf

out/

## */secret/*

## ignore log files in admin package
admin/abandoned/

## ignore log files in internal-api 
internal-api/abandoned/

worker-ops/private-keys/*
worker-ops/secret/*
worker-pom/private-keys/*
worker-pom/secret/*
worker/private-keys/*
worker/secret/*
workflow-adb/private-keys/*
workflow-adb/secret/*
workflow-atpd/private-keys/*
workflow-atpd/secret/*
workflow-dbaas/private-keys/*
workflow-dbaas/secret/*
workflow-pom/private-keys/*
workflow-pom/secret/*
